click==6.7
attrs==15.2.0
pandas
opencv-python
h5py
eventlet
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.12.1-cp35-cp35m-linux_x86_64.whl
git+https://github.com/fchollet/keras.git
